body { 
  margin:auto;
  border:auto;
  background-color: white;
}

#video1 {
  margin: 0 auto;
  display: inline- block;
  width: 560px;
  border: 8px solid white;
  box-shadow: 1px 1px 1px black;
}

#botao1 {
  text-align: center;
  width: 400px;
  height: 50px;
  color: black;
  font-size: 14px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid orange;
  box-shadow: 1px 1px 4px white;
}


#garantia {
  border: 5px solid white;
  box-sizing:25px;
  margin: 20px auto;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
} 

.perfil {
  display: block;
}

.imagem-corredor {
}

.imagem-corredor > img {
  width: 100%;
}

.texto {
  width: 50%;
  float: right;
  top: -500px;
  position: relative;
  font-size: 25px;
  background-color:rgba 66.27% 66.27% 66.27% 0;
}

.depoimentos {
    width: 100%;
    padding: 25px 0;
    background-color: #6f6f6f;
}

.depoimentos-conteudo {
    width: 750px;
    margin: 0 auto;
}

.depoimento-video {

    width: 350px;
    height: 250px;
    background-color: black;
    border-radius: 10px;

    display: inline-block;
}

.depoimento-conteudo {
  width: 350px;
  display: grid;
  float: right;
}

.depoimento-bloco {

    background-color: #949494;
    border-radius: 7px;
    height: 120px;
    display: flex;
}

.depoimento-imagem {
  width: 90px;
  height: 90px;
  background-color: black;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 5px;
}

.depoimento-texto {
  width: 245px;
  margin-left: 10px;
  /* height: 100%; */
}

.depoimento-texto > .title {
  font-size: 16px;

    font-weight: bold;
    color: white;
}

.depoimento-texto > .text {
  font-size: 12px;
}

.depoimento-conteudo .depoimento-bloco:last-child {
  margin-top: 10px;
}

/*A parti daqui tentarei criar a divisão dos blocos por conta propria para assim entender como funcionam.*/

.bloco-grande {
width: 100%;
padding: 25px 0;
background-color: orange;
}

.bloco2 {
    width: 750px;
    margin: 0 auto;
    height:260px;
    background-color: rebeccapurple;
    padding: 11px;
}

.bloco3 {
width: 350px;
    height: 255px;
    background-color: black;
    border-radius: 10px;
  
    display: inline-block;
}

.bloco4 {
/* width:350px; */
/* display:grid; */
/* float: right; */
/* background-color: yellow; */
  /* float:left; */
  /* background: red; */ 
  /* width: 200px; */ 
  /* height: 200px; */ 
  /* margin-top: 10px; */
width: 379px;
height: 250px;
    float: right;
    border-radius:14px;
    padding: 0 0 9px;  
 margin: -3px -359px;
background-color: yellow; 
}

.bloco5 {
background-color: pink;
border-radius: 7px;
height: 120px;
display: flex;
margin: 6px; 
}

/* .bloco5-2 { */
/* margin: 40px 0 0 -95px; */
/* } */
.bloco6 {
width: 90px;
height: 90px;
background-color: black;
border-radius:50%;
margin-top: 15px;
margin-left: 5px;
}

.bloco7 {
background-color: pink;
border-radius: 7px;
height: 120px;
display: flex;
margin: 7px 4px 0 -89px;
}

.bloco8 {
width: 90px;
height: 90px;
background-color: black;
border-radius:50%;
margin-top: 15px;
margin-left: 5px;

}

.container-bonus {
background-color: orange;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 17px 0;
} 

.container-bonus2 {
height: 150px;
    width: 100%;
    background-color: black;  
}

.package1 {
width: 49%;
    background-color: red;
    border-radius: 10px;
    height: 150px;
    display: flex;
    margin: 6px;
}

#picture1 {
border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px 10px;
}

#title01 {
width: 100%;
    display: inline-table;
    text-align: justify;
    padding: 0px 35px;
    color: white;
}

#text1 {
  text-align: justify;
    font-size: 20px;
    color: white;
    margin-top: 56px;
    margin: 54px 24px 0 -315px;
}

.package2 {
width: 49%;
    background-color: brown;
    float: right;
    border-radius: 10px;
    height: 150px;
    display: flex;
    margin: 6px;
    margin-top: -156px;
}

#picture2 {
border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px 10px;
}

#title02 {
width: 100%;
    display: inline-table;
    text-align: justify;
    padding: 0px 35px;
    color: white;
}

#text2 {
  text-align: justify;
    font-size: 20px;
    color: white;
    margin-top: 56px;
    margin: 54px 8px 0 -315px;
}


.container-bonus3 {
 height: 150px;
    width: 100%;
    background-color: blue;  
margin-top: 7px;
}

.package3 {
width: 49%;
    background-color: green;
    border-radius: 10px;
    height: 150px;
    display: flex;
    margin: 6px;
}

#picture3 {
border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px 10px;
}

#title03 {
width: 100%;
    display: inline-table;
    text-align: justify;
    padding: 0px 35px;
    color: white;
}

#text3 {
  text-align: justify;
    font-size: 20px;
    color: white;
    margin-top: 56px;
    margin: 54px 102px 0 -315px;
}


.package4 {
width: 49%;
    background-color: gray;
    float: right;
    border-radius: 10px;
    height: 150px;
    display: flex;
    margin: 6px;
    margin-top: -156px;
}

#picture4 {
border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px 10px;
}

#title04 {
width: 100%;
    display: inline-table;
    text-align: justify;
    padding: 0px 35px;
    color: white;
}

#text4 {
  text-align: justify;
    font-size: 20px;
    color: white;
    margin-top: 56px;
    margin: 54px 24px 0 -242px;
}

