body { 
  margin:auto;
  border:auto;
  background-color: white;
}

#video1 {
  margin: 0 auto;
  display: inline- block;
  width: 560px;
  border: 8px solid white;
  box-shadow: 1px 1px 1px black;
}

#botao1 {
  text-align: center;
  width: 400px;
  height: 50px;
  color: black;
  font-size: 14px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid orange;
  box-shadow: 1px 1px 4px white;
}
.video2 {
  margin:20px 20px;
}

.bonus { 
  border: 8px solid white;
  box-shadow: 1px 1px 4px black;
  width: 700px;
  /* height:25%; */
  margin: 0 auto;
  /* position: relative; */
}

.bonus-row {
  display: inline-block;
  width: 100%;
}

.bonus-row .bonus-item:last-child {
  float: right;
}

.bonus-item {
  width: 250px;
  display: inline-block;
  text-align: center;
}

.bonus img {
  width:200px;
  height:2oopx;
}

#acao {
  border: 20px solid white;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px black;
  width: 700px;
  margin: 0 auto;
  font-family: candara arial helvetica;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}

#botao2 {
  width: 400px;
  height:60px;
  position: absolut;
  font-family: arial;
  font-size: 25px;
  border: 8px solid orange;
  box-shadow: 1px 1px 4px white;
}

#garantia {
  border: 5px solid white;
  box-sizing:25px;
  margin: 20px auto;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
} 

.perfil {
  display: block;
}

.imagem-corredor {
}

.imagem-corredor > img {
  width: 100%;
}

.texto {
  width: 50%;
  float: right;
  top: -500px;
  position: relative;
  font-size: 25px;
  background-color:rgba 66.27% 66.27% 66.27% 0;
}

/* #prova-social img { */
  border: 8px, solid;
  width: 350px;
  height:470px;
  box-sizing: content-box;
  border: 8px solid white;
}

.depoimentos {
    width: 100%;
    padding: 25px 0;
    background-color: #6f6f6f;
}

.depoimentos-conteudo {
    width: 750px;
    margin: 0 auto;
}

.depoimento-video {

    width: 350px;
    height: 250px;
    background-color: black;
    border-radius: 10px;

    display: inline-block;
}

.depoimento-conteudo {
  width: 350px;
  display: grid;
  float: right;
}

.depoimento-bloco {

    background-color: #949494;
    border-radius: 7px;
    height: 120px;
    display: flex;
}

.depoimento-imagem {
  width: 90px;
  height: 90px;
  background-color: black;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 5px;
}

.depoimento-texto {
  width: 245px;
  margin-left: 10px;
  /* height: 100%; */
}

.depoimento-texto > .title {
  font-size: 16px;

    font-weight: bold;
    color: white;
}

.depoimento-texto > .text {
  font-size: 12px;
}

.depoimento-conteudo .depoimento-bloco:last-child {
  margin-top: 10px;
}

/*A parti daqui tentarei criar a divisão dos blocos por conta propria para assim entender como funcionam.*/

.bloco-grande {
width: 100%;
padding: 25px 0;
background-color: orange;
}

.bloco2 {
    width: 750px;
    margin: 0 auto;
    height:260px;
    background-color: rebeccapurple;
    padding: 11px;
}

.bloco3 {
width: 350px;
    height: 255px;
    background-color: black;
    border-radius: 10px;
  
    display: inline-block;
}

.bloco4 {
/* width:350px; */
/* display:grid; */
/* float: right; */
/* background-color: yellow; */
  /* float:left; */
  /* background: red; */ 
  /* width: 200px; */ 
  /* height: 200px; */ 
  /* margin-top: 10px; */
width: 379px;
height: 250px;
    float: right;
    border-radius:14px;
    padding: 0 0 9px;  
 margin: -3px -359px;
background-color: yellow; 
}

.bloco5 {
background-color: pink;
border-radius: 7px;
height: 120px;
display: flex;
margin: 6px; 
}

/* .bloco5-2 { */
/* margin: 40px 0 0 -95px; */
/* } */
.bloco6 {
width: 90px;
height: 90px;
background-color: black;
border-radius:50%;
margin-top: 15px;
margin-left: 5px;
}

.bloco7 {
background-color: pink;
border-radius: 7px;
height: 120px;
display: flex;
margin: 7px 4px 0 -89px;
}

.bloco8 {
width: 90px;
height: 90px;
background-color: black;
border-radius:50%;
margin-top: 15px;
margin-left: 5px;

}
